/* Desktop and larger screens */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3; /* Light gray background */
  padding: 10em 5em 10em 5em;
  border-radius: 8px;
  margin-bottom: 3em;
}

.textContent {
  max-width: 50%;
}

.textContent h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1a1a1a; /* Dark gray */
  margin-bottom: 20px;
}

.textContent p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.shopNowButton {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 2em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shopNowButton:hover {
  background-color: #333;
}

.imageContent {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContent img {
  max-width: 100%;
  height: auto;
  display: block;
}

.categoriesContainer {
  text-align: center;
  padding: 20px;
}

.categoriesContainer h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.categoryCard {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  flex: 1;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}

/* Why Choose Us Section */
.whyChooseUsContainer {
  background-color: #d3d3d3; /* Light gray */
  padding: 40px 20px;
  text-align: center;
  margin-top: 2em;
}

.whyChooseUsContainer h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Ensures cards wrap on smaller screens */
}

.benefitCard {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  max-width: 250px;
  text-align: center;
}

.benefitCard span {
  font-size: 2rem;
  display: block;
  margin-bottom: 10px;
}

.benefitCard h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.benefitCard p {
  font-size: 0.9rem;
  color: #555;
}

/* Mobile version */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack content vertically */
    padding: 20px;
    text-align: left;
  }

  .textContent {
    max-width: 100%;
    margin-bottom: 20px; /* Add space between text and image */
  }

  .textContent h1 {
    font-size: 2rem; /* Slightly smaller heading */
  }

  .textContent p {
    font-size: 0.9rem; /* Adjust text size for smaller screens */
  }

  .shopNowButton {
    font-size: 0.9rem; /* Adjust button size */
    padding: 8px 16px;
  }

  .imageContent {
    max-width: 100%;
    display: none;
  }

  .categories,
  .benefits {
    flex-direction: column;
    align-items: center;
  }
  .categoryCard {
    width: 15em;
  }
}
