.navbar {
  background-color: white;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.logo:after {
  content: "NEST";
  color: #ff0000;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;

  &:focus {
    outline: none;
  }
}

.hamburgerLine {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navList li {
  white-space: nowrap;
}

.navList li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.active a {
  color: #ff6347;
  font-weight: bold;
  border-bottom: 2px solid #ff6347;
}

.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.open li {
  text-align: center;
  margin: 0.5rem 0;
}

.userIcon,
.userIcon2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ff6347;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.userSection button {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  background: none;
}

.userSection {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  align-items: center;
}

.rightPartNavbar {
  display: none;
  gap: 1em;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .rightPartNavbar {
    display: flex;
    gap: 1em;
  }

  .navList {
    display: none;
    flex-direction: column;
  }

  .navList.open {
    display: flex;
  }

  .userSection {
    flex-direction: column;
  }

  .userIcon2 {
    display: none;
  }

  .kosaricaMobile {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .desktopKosarica {
    display: none;
  }
}
