.navbar {
  width: 100%;
  padding: 2rem 0;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.categoryCard {
  background-color: white;
  border: 1px solid #ccc; /* Border for each category card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for each category card */
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  flex: 1;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}

.categoryCard a {
  color: #333;
  text-decoration: none;
  display: block;
}

.categoryCard:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #ccc;
  border-radius: 4px;
  font-weight: bold;
}

/* Mobile version */
@media (max-width: 768px) {
  .categories {
    flex-direction: column;
    align-items: center;
  }

  .categoryCard {
    width: 15em;
  }
}
